parameters:
    quit_command: 'quit'
    max_concurrent_connections: 128 # todo: notWorking
    input_message_chunk_length: 1024
    host:
        cli_arguments:
            short: 'h'
            long: 'host'
        environment_variable: 'BRACKETS_SERVER_HOST'
        default: 'localhost'
    port:
        cli_arguments:
            short: 'p'
            long: 'port'
        environment_variable: 'BRACKETS_SERVER_PORT'
        default: 19118
